*  {
    margin:0;
    padding:0;
}

body, html {
    background: #c1dee1;
    height:100%;
}  

header {
    background: #6c9599;
    text-align: center;
}

#linha {
    height: 30px;
    width: 2px;
    background-color: white;
    border: none;
    top: 40px;
    right: 278px;
    position: absolute;
}

#singUp, #desconectar  {
    background:white;
    border-radius: 10px;
    border: none;
    color: #6c9599;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    outline: none;
}

#desconectar {
    top: 40px;
    right: 230px;
    position: absolute;
}

#singIn, #home {
    background: transparent;
    border: none;
    outline: none;
    top: 40px;
    right: 230px;
    position: absolute;
}

#singUp, #desconectar {
    top: 40px;
    right: 300px;
    position: absolute;
}

h1 {
    color: #6c9599;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    margin: 15px;
}

#divisor {
    height: 1px;
    width: 100%;
    background: #305561;
    border: none;
    margin-bottom: 10px;
}

#viewer {
    text-align: center;   
}

input {
    color: #305561;
    background: white;
    border-radius: 10px;
    width: 200px;
    height: 30px;
    text-align: center;
    border-width: 1px;
    border-color: #305561;
    border-style: solid;
    outline: none;
    margin: 5px;
}

input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 100%;
    top: 27px;
    left: 20px;
    position: absolute;
    
}
#busca input::-webkit-search-decoration,
#busca input::-webkit-search-cancel-button {
    display: none; 
    
}

input[type=search] {
	background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 12px center;
	border: solid 1px #ccc;
	padding: 9px 10px 9px 32px;
    width: 55px;
	
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
    transition: all .5s;
}

#busca input[type=search] {
	width: 15px;
	padding-left: 17px;
	color: transparent;
    cursor: pointer;
    text-align: center;
}

#busca input[type=search]:hover {
	background-color: #fff;
}

#busca input[type=search]:focus {
	width: 400px;
	padding-left: 32px;
	color: #305561;;
	background-color: #fff;
	cursor: auto;
}

#busca input::-webkit-input-placeholder {
	color: transparent;
}

input[type=search]:focus {
	width: 130px;
	background-color: #fff;
	border-color: #305561;
	
	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}


#busca input:-moz-placeholder {
	color: #999;
}
#busca input::-webkit-input-placeholder {
	color: #999;
}

form {
    text-align: center;
}

#cadastro, #login, #exibirCadastraCampanha, #campanhaCadastro, #exibePesquisarCampanha, #campanhaPesquisa, #sendDoacao {
    color: white;
    background: #305561;
    width: 200px;
    height: 30px;
    border-radius: 10px;
    border: none;
    outline: none;
    margin: 5px;
}

#buttonLike, #buttonSend, #buttonComentario, #sendResposta, #buttonDoar, #buttonDoadores, .exibirResposta {
    color: #305561;
    background: white;
    width: 200px;
    height: 30px;
    border-radius: 10px;
    border: none;
    outline: none;
    margin: 5px;
}

#imagem {
    background: transparent;
    width: 250px;
    height: 105px;
    border: none;
    outline: none;
}

#resultadoBuscaCampanha {
    text-align: center;
    top: 8px;
    position: relative;
}

.resultadoBusca {
    background-color: white;
    border-width: 1px;
    border-color: #305561;
    border-style: solid;
    border-radius: 10px;
    margin: 10px;
    align-items: center;
}

#footer {
    background-color: #6c9599;
    position: fixed;
    width: 100%;
    bottom: 0;
    text-align: right;
}

#paragrafoFooter {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 10px;
}

.paragrafoBusca {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #305561;
    font-size: 15px;
    text-align: center;
    height: 30px;
    margin: 10px;
    position: relative;
}

#divCampanha, #divUsuario, .campanhaTop5 {
    background-color: #6c9599;
    width: 1000px;
    color:white;
    text-align: center;
    margin: 20px;
    position: relative;
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.campanhaTop5 {
    width: 500px;
    margin: 5px;
}

.comentario {
    background-color: white;
    color: #305561;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 5px;
}

#pResposta {
    background-color: white;
    color: #305561;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin: 10px;
    height: 35px;
    border-width: 1px;
    border-color: #305561;
    border-style: solid;
    border-radius: 10px;
}

#buttonDelete, #buttonDeleteComentario {
    color: #b61a05;
    background: white;
    width: 200px;
    height: 30px;
    border-radius: 10px;
    border: none;
    outline: none;
    margin: 5px;
}

#nomeDoador {
    color: #305561;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}

#buttonDeleteResposta {
    color: #b61a05;
    background: white;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border-color: #305561;
    border-style: solid;
    border-width: 1px;
    outline: none;
    margin: 5px;
    bottom: 35px;
    display: flex;
    position: relative;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.containertop5 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resposta, .campanhaPerfil {
    background-color: white;
    color: #305561;
    text-align: center;
    margin: 10px;
    border-width: 1px;
    border-color: #305561;
    border-style: solid;
    border-radius: 10px;
}

.linkCampanha {
    height: 30px;
    text-align: center;
    justify-items: center;
}

#usuarioNome {
    color: #305561;
}

#enviarEstrategia {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-left: 10px;
}

#estrategiaDeExibicao {
    margin-top: 10px;
    width: 80px;
    height: 30px;
    background-color: white;
    border: 0;
    color: #305561;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    outline: none;
}

.tituloRelevancia {
    color: #305561;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-right: 10px;
}